
*
 {margin:0px;
  padding:0px;
 }


 #container
 {display:flex;
  flex-direction:column; gap:10px;
  align-content:center; justify-content:center;
  background:linear-gradient(to right, #000428, #004E92);
  height:max-content;width:max-content;
  border:none;
  padding:10px 10px;
  position:absolute; top:10%; left:50%;
  transform:translateX(-50%);
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.9);
 }


   #displayBox
    {display:flex;
    flex-direction:row; gap:3px;
    align-content:center;
    justify-content:center;
    align-self:center;
    background:transparent;
    height:max-content; width:max-content;
    /*border:2px solid gold;*/
    padding:3px 3px;
    position:relative; top:0px;}

      #displayBox input
      {height:35px; width:70px;
        text-align:center;
        font-size:15px; font-weight:bold;
        border:none;
        

      }

   #btnBox1
    {display:flex;
    flex-direction:row; gap:10px;
    align-content:center; justify-content:center; align-self:center;
    background:transparent;
    height:max-content; width:max-content;
    order:2px solid gold;
    padding:3px 3px;
    }

      .startBtn, .stopBtn
      {height:25px; width:60px;
        background-color:transparent;
        border:2px solid gold;
        border-radius:13px;
        color:gold; font-size:15px;
        transition:all 0.7s ease-in-out;

      }

         #btnBox1 button:hover
          {cursor:pointer;
            transition:all 0.7s ease-in-out;
            transform:scale(110%)
          }

          .startActive
          {background-color:green;
          color:white;
          border:2px solid green;
           transition:all 0.7s ease-in-out;}

          .stopActive
          {background-color:orangered;
          color:white;
           border:2px solid orangered;
           transition:all 0.7s ease-in-out;}


   #btnBox2
    {display:flex;
    flex-direction:row;
    align-content:center;
    justify-content:center;
    align-self:center;
    background:transparent;
    height:max-content; width:max-content;
    order:2px solid gold;
    padding:3px 3px;
    }

    .resetBtn
    {height:25px; width:60px;
      background-color:transparent;
      border:2px solid red;
      border-radius:13px;
      color:white; font-size:15px;
      transition:all 0.7s ease-in-out;}

       .resetActive
       {background-color:red; color:white;
       border:2px solid red;
       transition:all 0.7s ease-in-out;}


       #btnBox2 button:hover
        {cursor:pointer;
          transition:all 0.7s ease-in-out;
          transform:scale(110%)
        }


 #displayBox2
  {height:max-content; width:max-content;
   padding:5px 5px ;display:none;
   transition:all 0.7s ease-in-out;
  }

    #displayBox2 h
    {color:white; font-size:15px; font-weight:bold;
    }
